<h1>Widgets</h1>
<ul>
{{#each model as |widget|}}
  {{update-widget widget=widget}}
  {{#each widget.updates as |update|}}
    {{update.createdAt}}
  {{/each}}
{{/each}}
</ul>

{{add-widget addWidget="addWidget"}}

{{outlet}}
